.nav {
  background-image: url('../images/insomnia-top.jpg');
  background-position: 50% 0px;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.nav.firstpage-nav {
  background-image: none;
}

.body {
  background-image: url('../images/insomni-the-sleepless-week-web.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.error {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -10;
  display: block;
  width: 100%;
  text-align: center;
}

.navbar {
  overflow: visible;
  height: 80px;
  background-color: transparent;
}

.nav-link {
  margin: 25px 5px;
  padding: 5px;
  color: #fff;
}

.nav-link:hover {
  border-bottom: 2px solid #fff;
  text-decoration: none;
}

.nav-link.w--current {
  border-bottom: 2px solid #fff;
  color: #fff;
}

.brand {
  left: 0px;
  top: 0px;
  float: left;
}

.text-span {
  display: inline-block;
  margin: 30px 20px;
  padding-top: 0px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.section {
  position: relative;
  margin-top: 0px;
  padding-top: 0px;
}

.body-text {
  color: #fff;
}

.container {
  display: block;
  margin-bottom: 50px;
  padding-bottom: 0px;
  color: #fff;
  text-transform: none;
}

.heading {
  margin-top: 150px;
  font-family: Montserrat, sans-serif;
  font-size: 56px;
  text-align: center;
}

.text-block {
  margin-top: 105px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.text-block.teses {
  margin-top: 100px;
  margin-bottom: 80px;
  color: #000;
}

.text-block.first-page-text {
  margin-top: 70px;
  font-size: 28px;
  line-height: 32px;
}

.section-2 {
  margin-top: 0px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff), -webkit-linear-gradient(270deg, transparent, rgba(0, 0, 0, .5) 25%, #fff);
  background-image: linear-gradient(180deg, #fff, #fff), linear-gradient(180deg, transparent, rgba(0, 0, 0, .5) 25%, #fff);
}

.bottom-apply-button {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin-top: 42px;
  margin-bottom: 101px;
  margin-left: 42.8%;
  padding: 14px 35px 15px;
  background-color: #535942;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  text-align: left;
}

.div-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.footer {
  background-image: -webkit-linear-gradient(270deg, #535942, #535942);
  background-image: linear-gradient(180deg, #535942, #535942);
}

.apply-button {
  border: 1px none #000;
  background-image: -webkit-linear-gradient(270deg, transparent, transparent);
  background-image: linear-gradient(180deg, transparent, transparent);
  text-decoration: underline;
}

.footer-logo {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  font-family: Montserrat, sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.image-top {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: -10;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/insomnia-top.jpg');
  background-position: 50% 50%;
  background-size: 1300px;
}

.participants-section {
  padding-bottom: 40px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.heading-general {
  padding-top: 0px;
  padding-bottom: 20px;
}

.paragraph-general {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 32px;
}

.container-2 {
  margin-top: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.image {
  position: relative;
  top: -20px;
  z-index: 20;
  max-width: 100%;
  margin: 0px;
  padding-top: 0px;
}

.section-3 {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.heading-2 {
  text-align: left;
}

.text-field {
  position: relative;
  text-align: left;
}

.container-3 {
  padding-top: 40px;
  padding-left: 0px;
}

.submit-button {
  background-color: #535942;
}

.link {
  color: #535942;
  font-size: 16px;
  text-decoration: underline;
  text-transform: none;
  cursor: pointer;
}

.link:hover {
  color: #86945d;
  text-decoration: none;
}

.html-embed {
  position: absolute;
  top: 41px;
  z-index: 200;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.html-embed-2 {
  position: static;
  margin: 0px 0px -10px -10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.text-span-2 {
  background-color: transparent;
}

.button-2 {
  background-color: #535942;
}

.button-3 {
  background-color: #535942;
}

.button-4 {
  background-color: #535942;
}

.button-5 {
  background-color: #535942;
}

.submit-button-2 {
  background-color: #535942;
}

.image-2 {
  display: block;
  margin-right: auto;
  margin-bottom: 29px;
  margin-left: auto;
}

.image-3 {
  display: block;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.html-embed-3 {
  height: 400px;
  margin-bottom: 30px;
  padding-bottom: 0px;
}

.email {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.container-4 {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-2 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 30px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.image-4 {
  margin-right: 10px;
  margin-left: 10px;
  padding: 0px;
}

.image-5 {
  margin-right: 10px;
  margin-left: 10px;
}

.socicons {
  padding: 0px 30px;
}

.footer-contacts {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-fb-link {
  margin-right: 15px;
  margin-left: 15px;
  padding-left: 0px;
}

.footer-tw-link {
  margin-right: 15px;
  margin-left: 15px;
}

.about-us-section {
  background-color: #fff;
}

.nav-text {
  padding: 5px;
  font-size: 14px;
}

.nav-text:hover {
  border-bottom: 2px solid #fff;
}

.container-5 {
  position: static;
}

.div-block-3 {
  font-family: 'Fontawesome webfont', sans-serif;
}

.text-block-3 {
  font-family: 'Fontawesome webfont', sans-serif;
}

.text-block-4 {
  font-family: 'Fontawesome webfont', sans-serif;
}

.body-2 {
  background-image: url('../images/insomni-the-sleepless-week-web.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-block-5 {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.heading-3 {
  margin-top: 20px;
  font-family: 'Fontawesome webfont', sans-serif;
  color: #fff;
}

.heading-3.excla {
  font-size: 100px;
}

.image-6 {
  opacity: 1;
  color: #fff;
}

.small-text {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: 14px;
  text-align: center;
}

@media (max-width: 991px) {
  .container {
    margin-bottom: 19px;
    padding-bottom: 0px;
  }
  .heading {
    margin-top: 90px;
    font-size: 46px;
  }
  .text-block.teses {
    font-size: 20px;
    line-height: 26px;
  }
  .text-block.first-page-text {
    margin-top: 35px;
    font-size: 20px;
    line-height: 22px;
  }
  .bottom-apply-button {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0%;
  }
  .div-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-menu {
    float: left;
    clear: none;
    background-color: rgba(83, 89, 66, .75);
  }
  .menu-button {
    margin-top: 12px;
    cursor: pointer;
  }
  .menu-button.w--open {
    background-color: transparent;
    -webkit-perspective: 1054px;
    perspective: 1054px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
  }
}

@media (max-width: 767px) {
  .nav {
    background-image: url('../images/insomnia-top.jpg');
    background-position: 50% 0px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .body {
    background-image: url('../images/insomni-the-sleepless-week-web.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .heading {
    margin-top: 30px;
    font-size: 26px;
    line-height: 28px;
    font-weight: 600;
  }
  .text-block.teses {
    margin-top: 70px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
  }
  .text-block.first-page-text {
    margin-top: 20px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
  }
  .bottom-apply-button {
    font-size: 16px;
  }
  .image-top {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    display: block;
    overflow: visible;
    width: 480px;
    max-width: auto;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    background-image: url('../images/insomnia-top.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
  .container-2 {
    padding: 30px 2%;
  }
  .section-3 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media (max-width: 479px) {
  .body {
    background-position: 50% 50%;
  }
  .error {
    display: block;
    width: 230%;
    max-width: 230%;
    margin-right: auto;
    margin-left: auto;
  }
  .brand {
    padding-left: 0px;
  }
  .button-2:hover {
    background-color: #86945d;
  }
  .container-4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .socicons {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .div-block-2 {
    margin-bottom: 50px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .footer-social {
    margin-bottom: 30px;
  }
}

@font-face {
  font-family: 'Fontawesome webfont';
  src: url('../fonts/fontawesome-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}